fruit_name=$1
quantity=$2
if [ "$fruit_name" = "mango" ]
then
echo mango quantity-$quantity
else
 echo Fruit does not exists
fi


if [ "$quantity" -gt 100 ]; then
echo mango price- 0.5$
else
echo mango price-2$
fi